body{
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-container{
    margin-left: 0px;
    margin-top: 0px;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: solid 10px;
    background-color: #F6F1F1;
}

.middle-container{
    height: 200px;
    width: 200px;
    padding: 20px;
    border: solid 20px;
    margin-left: 260px;
   background-color: red;
}

.bottom-container{
    height: 200px;
    width: 200px;
    padding: 20px;
    border: solid 10px;
    margin-left: 540px;
    background-color: yellow;

}